doctype html
html
  head
    title Code-Hub - Sign in to your Account
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Code hub we train upcoming programmers")
    meta(name="author" content="cybercode2000")
    link(rel="shortcut icon" href="./image/logo.png" type="image/x-icon")
    link(rel="stylesheet" href="./style.css")
    link(href="https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap&subset=latin-ext" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet")
    link(rel="stylesheet", href="./css/bootstrap.min.css")

  body
    p hello world